---
import Layout from "../layouts/Layout.astro";
import ExperienceCard from "../components/ExperienceCard.astro";
import ProjectCard from "../components/ProjectCard.astro";
import Footer from "../components/Footer.astro";
import Skills from "../components/Skills.astro";
---

<Layout title="Allen Shibu | Computer Science Student | Full-Stack Developer">
  <main class="container mx-auto">
    <div
      class="px-6 my-12 lg:px-20 lg:my-40 flex flex-col justify-center items-start gap-2"
    >
      <h1 class="text-5xl lg:text-6xl font-bold">Allen Shibu</h1>
      <h2 class="text-xl text-neutral-200">
        Computer Science Student from Cochin, India
      </h2>
      <!-- <span class="flex flex-row items-center gap-2">
        <h3 class="text-neutral-400" id="email">allenshibu@outlook.in</h3>
        <svg
          width="15"
          height="15"
          viewBox="0 0 15 15"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            d="M1 9.50006C1 10.3285 1.67157 11.0001 2.5 11.0001H4L4 10.0001H2.5C2.22386 10.0001 2 9.7762 2 9.50006L2 2.50006C2 2.22392 2.22386 2.00006 2.5 2.00006L9.5 2.00006C9.77614 2.00006 10 2.22392 10 2.50006V4.00002H5.5C4.67158 4.00002 4 4.67159 4 5.50002V12.5C4 13.3284 4.67158 14 5.5 14H12.5C13.3284 14 14 13.3284 14 12.5V5.50002C14 4.67159 13.3284 4.00002 12.5 4.00002H11V2.50006C11 1.67163 10.3284 1.00006 9.5 1.00006H2.5C1.67157 1.00006 1 1.67163 1 2.50006V9.50006ZM5 5.50002C5 5.22388 5.22386 5.00002 5.5 5.00002H12.5C12.7761 5.00002 13 5.22388 13 5.50002V12.5C13 12.7762 12.7761 13 12.5 13H5.5C5.22386 13 5 12.7762 5 12.5V5.50002Z"
            fill="currentColor"
            fill-rule="evenodd"
            clip-rule="evenodd"></path></svg
        >
      </span> -->

      <ul class="mt-6 flex flex-row justify-center items-center gap-4">
        <li>
          <a target="_blank" href="https://github.com/alllenshibu">
            <svg
              class="h-8 w-8 text-neutral-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              fill="currentColor"
              class="h-6 w-6"
              aria-hidden="true"
              ><path
                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"
              ></path>
            </svg>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://linkedin.com/in/allenshibu">
            <svg
              class="h-8 w-8 text-neutral-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="h-6 w-6"
              aria-hidden="true"
              ><path
                d="M20.5 2h-17A1.5 1.5 0 002 3.5v17A1.5 1.5 0 003.5 22h17a1.5 1.5 0 001.5-1.5v-17A1.5 1.5 0 0020.5 2zM8 19H5v-9h3zM6.5 8.25A1.75 1.75 0 118.3 6.5a1.78 1.78 0 01-1.8 1.75zM19 19h-3v-4.74c0-1.42-.6-1.93-1.38-1.93A1.74 1.74 0 0013 14.19a.66.66 0 000 .14V19h-3v-9h2.9v1.3a3.11 3.11 0 012.7-1.4c1.55 0 3.36.86 3.36 3.66z"
              ></path>
            </svg>
          </a>
        </li>
        <!-- <li>
          <button
            class="bg-sky-400/20 text-sky-400 hover:bg-sky-400/40 font-medium tracking-wide py-2 px-4 rounded"
          >
            <a href="/assets/files/Resume.pdf" target="_blank">Resume</a
            ></button
          >
        </li> -->
      </ul>
    </div>

    <!-- Experience -->
    <div
      class="mt-32 w-full lg:w-3/5 mx-auto flex flex-col justify-center items-center gap-10"
    >
      <div
        class="px-6 self-start lg:self-auto flex justify-center items-center"
      >
        <h2 class="uppercase font-bold text-neutral-400 tracking-widest">
          Experience
        </h2>
      </div>
      <div class="w-full flex flex-col justify-center items-center gap-4">
        <ExperienceCard
          timeline="2024 Jul - Ongoing"
          position="Product Engineering Intern • CareStack"
          about="Working on a learning solution for the application."
          link="https://carestack.com/"
          tags={["python", "RAG", "Azure OpenAI"]}
        />
        <ExperienceCard
          timeline="2023 Jun - 2023 Aug"
          position="Backend Developer Intern • 1Living"
          about="Worked on the backend service for the app including image storage using S3 buckets."
          link="https://1living.in/"
          tags={["Express.js", "MongoDB", "S3"]}
        />
      </div>
    </div>

    <!-- Skills -->
    <Skills />

    <!-- Projects -->
    <div
      class="mt-32 w-full lg:w-3/5 mx-auto flex flex-col justify-center items-center gap-10"
    >
      <div
        class="px-6 self-start lg:self-auto flex justify-center items-center"
      >
        <h2 class="uppercase font-bold text-neutral-400 tracking-widest">
          Projects
        </h2>
      </div>
      <div class="w-full flex flex-col justify-center items-center gap-4">
        <!-- <ProjectCard
          image="/assets/images/projects/petatype.png"
          title="PetaType"
          about="Hackathon project bulit during Tally Codebrewers. A web app where you can practice typing fast and get realtime feedback. You can also compete with your friends and see who types the fastest."
          link="https://projects.allenshibu.com/petatype"
          tags={[
            "Express.js",
            "Next.js",
            "socket.io",
            "PostgreSQL",
            "Tailwind CSS",
          ]}
        /> -->
        <ProjectCard
          image="/assets/images/projects/xpense.png"
          title="Xpense"
          about="A finance tracker app with a dashboard to view your expenses and income."
          link="https://projects.allenshibu.com/xpense"
          tags={[
            "Express.js",
            "Next.js",
            "PostgreSQL",
            "TurboRepo",
            "Tailwind CSS",
          ]}
        />
        <ProjectCard
          image="/assets/images/projects/eventsync.png"
          title="Event Sync"
          about="An event management suite built with NextJS, Express, Postgres and Docker to handle event registrations, send emails to participants, check-in participants during an event and see analytics"
          link="https://projects.allenshibu.com/eventsync"
          tags={[
            "Express.js",
            "Next.js",
            "PostgreSQL",
            "TurboRepo",
            "Tailwind CSS",
          ]}
        />
      </div>
    </div>

    <!-- Clubs and Societies -->
    <div
      class="mt-32 w-full lg:w-3/5 mx-auto flex flex-col justify-center items-center gap-10"
    >
      <div
        class="px-6 self-start lg:self-auto flex justify-center items-center"
      >
        <h2 class="uppercase font-bold text-neutral-400 tracking-widest">
          Clubs and Societies
        </h2>
      </div>
      <div class="w-full flex flex-col justify-center items-center gap-4">
        <ExperienceCard
          timeline="2023 May - Present"
          position="Tech Sub Lead • IEDC MEC"
          about="I manage a team of 25+ student devs who build and manage various websites, apps and services."
          link="https://iedcmec.in/"
          tags={[
            "Leadership",
            "Team Management",
            "PostgreSQL",
            "Docker",
            "Next.js",
            "Express.js",
            "React",
          ]}
        />
        <ExperienceCard
          timeline=""
          position="Backend Developer • Excel MEC"
          about="I work on various projects and services for the annual techno-managerial fest of the college."
          link="https://www.excelmec.org/"
          tags={[
            "AWS",
            "SES",
            "PostgreSQL",
            "Docker",
            "Sys Admin",
            "Express.js",
          ]}
        />
        <ExperienceCard
          timeline=""
          position="Full Stack Developer • MACS MEC"
          about="I work on various projects and services for the CS department and the college."
          link="https://cs.mec.ac.in/"
          tags={["Docker", "Express.js", "S3"]}
        />
        <ExperienceCard
          timeline=""
          position="Full Stack Developer • FOSS MEC"
          about="I work on various projects and services for the FOSS club of the college."
          link="https://fossmec.netlify.app/"
          tags={["React", "Supabase"]}
        />
        <ExperienceCard
          timeline=""
          position="Full Stack Developer • GDC MEC"
          about="I work on various projects services for the Game Developement Club of the college."
          link="https://gdcmec.onrender.com/"
          tags={["Express.js", "React", "Next.js", "PostgreSQL", "Supabase"]}
        />
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<script>
  document.getElementById("email").addEventListener("click", () => {
    navigator.clipboard.writeText("allenshibu@outlook.in");
  });
</script>
