---
---

<div class="py-10 flex justify-center items-center">
  <p class="text-neutral-400">
    Designed & built by <a
      target="_blank"
      href="https://github.com/alapanoski/portfolio"
      class="font-medium">Allen Shibu</a
    >
  </p>
</div>
